<div class="content">
    <p>
        <code>
                Zip code field will auto complete city field on blur if zip code is valid and city is empty
            </code>
    </p>
    <div class="form" [formGroup]="addressForm">
        <div class="form-control">
            <label name="zipcode">Zip code</label>
            <input type="text" placeholder="Zip code" formControlName="zipcode" (blur)="searchForCity()">
            </div>
        <div class="form-control">
            <label name="city">City</label>
            <input placeholder="City" type="text" formControlName="city" id="">
        </div>
        <button class="btn" type="submit" (click)="onSubmit()">Submit</button>
    </div>
</div>