@use 'src/styles';
.content {
    text-align: center;
    .form-control {
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        label {
            grid-column: 5 / span 2;
        }
        input {
            grid-column: 7 / span 3;
            
        }
    }
    button {
        margin-block-start: 0.8rem;
    }
}

@media (max-width: styles.$breakpoint-md) {
    .content {
        .form-control {
            label {
                grid-column: 5 / span 2;
            }
            input {
                grid-column: 7 / span 5;
            }    
        }
    }
}
@media (max-width: styles.$breakpoint-sm) {
    .content {
        .form-control {
label {
            grid-column: 5 / span 2;
        }
        input {
            grid-column: 7 / span 4;
            
        }
        }
    }
}
@media (max-width: styles.$breakpoint-xs) {
    .content {
        .form-control {
        label {
            grid-column: 4 / span 3;
        }
        input {
            grid-column: 7 / span 4;
            
        }
        }
    }
}