<div class="content">
    <div class="image">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGlgsCHgLTz-A/profile-displayphoto-shrink_200_200/0/1622536159492?e=1674691200&v=beta&t=rK5u9HB0qrgpVujvmqm_1A555eCVJX10PhDkZoroonQ"
            alt="" srcset="">
    </div>
    <div class="text">
        <h4>Hi my name is Markus!</h4>
        <p>
            Professional developer with three and half year experience from Angular development. <br>
            Focus on creating efficent forms for bookkeepers and sleeck user experience for real estate users.
        </p>
    </div>
</div>